<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

	#content{
		width: 1300px;
		margin: 0 auto; 
	}
	
/* constant 안에 있는 div  */
	#content div {
		border: 1px solid #ccc;
		width: 300px;
		height: 150px;
		float: left;
		box-sizing: border-box;
		margin: 10px;
		padding: 5px;
		
	}
	
	#visible {
	overflow: visible;
	}	
	#hidden {
	overflow: hidden;
	}	
	#scroll {
		overflow: scroll;
	}
	#auto {
	overflow: auto;
	}

</style>
</head>
<body>
	<div id="content">
		<div id="visible">
			<p>지혜는 위하여 실현에 실로 투명하되 살 칼이다. 사람은 사는가 않는 수 바로 보내는 봄바람이다. 풍부하게 구할 곳이 품으며, 때문이다. 같이 커다란 꽃이 안고, 황금시대를 얼마나 얼음과 싶이 거친 그리하였는가? 크고 따뜻한 예수는 몸이 것이다. 그것은 실로 뭇 이것이야말로 이상은 찾아 사랑의 청춘 위하여서. 피어나는 불어 따뜻한 것이다. 아니한 어디 하여도 봄바람을 아름다우냐? 곳이 위하여 얼마나 그것을 새 이상이 우리의 피가 뜨거운지라, 뿐이다. 발휘하기 그들의 속잎나고, 대고, 말이다. 만물은 바이며, 유소년에게서 것이다.</p>
			
		</div>
		
		<div id="hidden">
			<p>평화스러운 열락의 두손을 불러 우리의 되려니와, 철환하였는가? 보이는 그들의 힘차게 곧 옷을 아름다우냐? 이것이야말로 그들의 타오르고 인간이 말이다. 이상 이 굳세게 붙잡아 얼음 피는 사는가 생의 이것이다. 간에 새 가는 인생을 이상의 쓸쓸한 가지에 그리하였는가? 힘차게 현저하게 이상의 고동을 말이다.</p>
			
		</div>
		
		<div id="scroll">
			<p>지혜는 위하여 실현에 실로 투명하되 살 칼이다. 사람은 사는가 않는 수 바로 보내는 봄바람이다. 풍부하게 구할 곳이 품으며, 때문이다. 같이 커다란 꽃이 안고, 황금시대를 얼마나 얼음과 싶이 거친 그리하였는가? 크고 따뜻한 예수는 몸이 것이다. 그것은 실로 뭇 이것이야말로 이상은 찾아 사랑의 청춘 위하여서. 피어나는 불어 따뜻한 것이다. 아니한 어디 하여도 봄바람을 아름다우냐? 곳이 위하여 얼마나 그것을 새 이상이 우리의 피가 뜨거운지라, 뿐이다. 발휘하기 그들의 속잎나고, 대고, 말이다. 만물은 바이며, 유소년에게서 것이다.</p>
			<img alt="미니언" src="../resources/image/mm.jpeg">
		</div>
		
		<div id="auto">
			<p>용기가 풀밭에 위하여, 얼마나 산야에 우리의 피가 거선의 풀이 이것이다. 하는 아니더면, 수 있으며, 두기 있는가? 이상, 반짝이는 없으면 것은 부패뿐이다. 그들은 맺어, 이것이야말로 이상의 영락과 때문이다. 그들은 소금이라 때에, 같으며, 맺어, 따뜻한 인생에 그러므로 그들은 운다. 굳세게 이상, 위하여서 지혜는 봄날의 그들의 피어나기 더운지라 사막이다. 어디 그들은 싶이 피가 목숨을 뿐이다. 그러므로 열락의 인생에 있는가? 쓸쓸한 청춘에서만 기관과 황금시대다.</p>
			<img alt="미니언" src="../resources/image/mm.jpeg">
		</div>
	</div>
</body>
</html>