<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	header, footer {
		text-align: center;
		background-color: beige;
		padding: 10px;
	}
	.wrapper {
		width: 1200px;
		margin: 0 auto;
	}
	.content {
		position: relative;
		height: 800px;
	}
	.content div[class^='content'] {
		position: absolute;
	}
	.content-left {
		width: 68%;
		left: 0;
		
	} 
	
	.content-right {
		width: 28%;
		right:0;
		
	}
</style>
</head>
<body>
<!-- 	<div>
		<h1>POSITION 테스트 </h1>
		<h3>relative, absolute 이용한 화면 분할 </h3>
	</div> -->
	
	<header>
		<h1>POSITION 테스트 </h1>
		<h3>relative, absolute 이용한 화면 분할 </h3>
	</header>
	
	<div class="wrapper">
		<main class="content">
			<div class="content-left">
			<h2>문장1</h2>
			<p>불러 같은 붙잡아 희망의 봄바람을 동산에는 운다. 실현에 주는 가는 그들은 가진 보이는 지혜는 붙잡아 긴지라 황금시대다. 원대하고, 얼음 설레는 그림자는 황금시대를 이것은 그들은 것이다. 이상의 오아이스도 하는 있는 사라지지 봄바람이다. 내는 품으며, 황금시대를 하는 거선의 이상 바로 평화스러운 약동하다. 평화스러운 있는 품으며, 있는 장식하는 듣는다. 있으며, 웅대한 얼음 장식하는 힘차게 부패뿐이다. 불어 노년에게서 풍부하게 심장은 피어나기 심장의 구하기 사막이다. 눈에 트고, 것이 내는 그들은 이것을 있는가?</p>

			<p>인간이 피고 청춘 곳으로 방지하는 두기 노년에게서 눈이 같으며, 말이다. 동산에는 공자는 풀이 찬미를 열락의 두기 듣기만 약동하다. 평화스러운 이상의 노년에게서 것이다. 수 영원히 찾아 되는 트고, 굳세게 설레는 우리 반짝이는 것이다. 그들은 보는 인생의 따뜻한 설레는 얼음이 위하여, 말이다. 끓는 두기 속잎나고, 산야에 운다. 풀이 얼음 간에 얼음이 타오르고 것이다. 보이는 품에 창공에 싶이 원질이 위하여서 거친 예수는 황금시대다. 사랑의 커다란 이상 얼마나 말이다. 풀밭에 유소년에게서 생의 능히 청춘의 작고 오직 것은 때문이다.</p>

			<p>생생하며, 그러므로 피가 물방아 되려니와, 아니더면, 위하여서. 이성은 스며들어 그들은 인간은 돋고, 노래하며 사막이다. 이상이 원질이 용기가 것이다. 사는가 영원히 이것이야말로 따뜻한 것은 그리하였는가? 기관과 아름답고 인생의 피가 기쁘며, 든 있는가? 인간에 오아이스도 생명을 두손을 가지에 위하여서. 인류의 청춘의 같이 있을 넣는 청춘 이것이다. 무엇을 예가 고동을 영락과 않는 것이다. 발휘하기 그와 불러 것이다. 무엇을 보내는 할지니, 가슴이 듣기만 그들의 사막이다.</p>
			</div>
			
			<div class="content-right">
			<h2>문장2</h2>
			<p>인간의 무엇을 구하지 우는 뜨고, 교향악이다. 뜨고, 영락과 얼음과 설산에서 인생을 철환하였는가? 낙원을 그것을 가슴에 위하여서. 얼음과 보는 곳이 기관과 것이다. 긴지라 방황하였으며, 이상은 청춘의 뿐이다. 갑 인도하겠다는 피고, 이 그들의 것이다. 역사를 만천하의 들어 유소년에게서 이것이다. 황금시대를 있는 위하여서 역사를 때까지 황금시대의 가진 위하여서. 방황하여도, 피가 위하여, 이상의 위하여서 굳세게 오아이스도 이 사막이다. 황금시대의 가슴이 인간이 곳이 없는 하여도 것이다. 그들은 곧 옷을 원대하고, 사람은 것이 뜨고, 착목한는 것이다.</p>
			<p>거친 사랑의 얼음에 옷을 부패뿐이다. 끓는 청춘의 소금이라 위하여, 동력은 이상의 약동하다. 되는 피가 과실이 충분히 일월과 약동하다. 얼마나 사랑의 청춘은 커다란 생명을 청춘을 아름다우냐? 청춘의 갑 피가 봄바람이다. 길지 우는 주는 위하여서. 목숨이 곧 실현에 목숨을 그들에게 못할 이상의 용감하고 있는가? 같지 이것이야말로 그들은 원질이 위하여, 따뜻한 가진 청춘의 봄바람이다. 싸인 인간의 피가 그것은 길을 피고 대고, 노래하며 위하여서.</p>
			<p>들어 아름답고 공자는 청춘의 가는 얼음과 끓는 듣는다. 못할 하였으며, 무엇이 타오르고 목숨이 이상의 맺어, 교향악이다. 없으면 물방아 이 뛰노는 불어 무엇을 못할 아니더면, 있는 위하여서. 그들을 그것은 앞이 든 이 인간은 피는 원질이 간에 보라. 원대하고, 밥을 것이다.보라, 현저하게 이것이다. 없으면, 크고 많이 이것이다. 천자만홍이 인생의 내는 거친 뛰노는 노년에게서 가지에 황금시대를 것이다. 꽃이 그림자는 그들의 불어 사막이다. 천지는 얼마나 그들의 무엇을 그들의 크고 때까지 원질이 듣는다. 이 밝은 노년에게서 청춘의 우리 실현에 얼음과 피에 위하여서 아니다.</p>
			
			</div>
		</main>
	</div>
	
	<footer>
	&copy;BSY
	</footer>
</body>
</html>